.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 8rem;
}

.hero-content header > h1{
    font-size: 4rem;
}

.hero-content header > p{
    margin-top: 0.5rem;
    font-size: large;
}

.hero-cta {
    margin-top: 2rem;
    display: inline-flex;
    gap: 2rem;
}

.hero-image {
    border-radius: 2rem;
    width: 30rem;
    object-fit: contain;
}

.contact-details {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

@media (max-width: 1024px) {

    .hero{
        flex-direction: column-reverse;
        gap: 2rem;
        margin: 2rem 0rem;
    }

    .hero-content header > h1{
        font-size: 2rem;
    }

    .hero-content header > p{
        font-size: 1rem;
    }

    .hero-image {
        width: 20rem;
        border-radius: 1rem;
    }

    .contact-details {
        margin-top: 1rem;
        flex-direction: column;
    }
    
}