@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'navbar.css';
@import 'offcanvas.css';
@import 'work-in-progress.css';
@import 'hero-section.css';
@import 'button.css';
@import 'about-me-section.css';
@import 'experiences-sections.css';
@import 'text.css';
@import 'pill.css';
@import 'utility.css';
@import 'footer.css';

body {
    font-family: "Open Sans", serif;
}

main {
    margin: 0.5rem 8rem;
}

@media (max-width: 1024px) {
    main {
        margin: 0.5rem 2rem;
    }
}

/* Disable user agent stylesheets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


