.container {
  color: black; 
  background-color: lightpink; 
  height: 100vh;
  padding: 4rem;
}

.container h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.container p {
    font-size: larger;
}

@media (max-width: 1024px) {
    .container h1 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .container p {
        font-size: 1rem;
    }
}